.Header {
  height: 15vh;
  background-image: linear-gradient(to right, red, blue);
  display: flex;
}

.Header_img {
  width: 40%;
}
.Header_links {
  width: 50%;
  display: flex;
  padding-left: 390px;
}
li {
  list-style: none;
  margin: 15px;
  margin-top: 45px;
}
.lnk {
  text-decoration: none;
  color: antiquewhite;
}
.lnk:hover {
  color: orangered;
}
img {
  width: 120px;
  height: 113px;
  margin-left: 150px;
}
